@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "@/assets/styles/spacing.scss";
@import "@/assets/styles/elements.scss";
@import "@/assets/styles/animations.scss";
@import "@/assets/styles/icons.scss";
@import "@/assets/styles/components.scss";
@import "@/assets/styles/utilities.scss";

:root {
	--gray0: #f2f2f2;
	--gray1: #e8e8e8;
	--gray2: #dfdfdf;
	--gray3: #b8b8b8;
	--gray4: #828282;
	--gray5: #464646;
	--gray6: #353535;
	--gray7: #222222;
	--gray8: #1d1d1d;
	--gray9: #131313;
	--primary: #4959c5;
	--secondary: #ffb300;
	--bg-absolute: #000000;
	--bg: var(--gray9);
	--bg-0: var(--gray9);
	--bg-1: var(--gray8);
	--bg-2: var(--gray7);
	--bg-3: var(--gray6);
	--bg-4: var(--gray5);
	--bg-5: var(--gray4);
	--bg-6: var(--gray3);
	--bg-7: var(--gray2);
	--bg-8: var(--gray1);
	--bg-9: var(--gray0);
	--text: var(--gray0);
	font-family: "Ubuntu", monospace;
}

#app {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: "liga";

	outline: none;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	-webkit-tap-highlight-color: transparent;
	outline: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

input,
button {
	font-family: "Nunito", sans-serif;
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	background: var(--bg);
	color: #ffffff;
}

p {
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

i {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p,
h4,
h5,
h6 {
	margin-top: 0;
}

h2 {
	margin: 1rem 0;
}

*::-webkit-scrollbar {
	width: 0.3rem;
	height: 0.3rem;
}

*::-webkit-scrollbar-track {
	background: var(--bg-1);
	border: 1px solid var(--bg-2);
}

*::-webkit-scrollbar-thumb {
	background: var(--bg-4);
}

.mono {
	font-family: "Fira Code", monospace;
}
