#appContent {
	margin: auto;
	margin-top: 40px;
	width: 400px;
	max-width: 93vw;
}

#timer {
	width: 100%;
	margin-bottom: 2rem;
}

#selectTimer {
	width: 100%;
	margin-bottom: 2rem;
}

#navbar {
	position: fixed;
	bottom: 0;
	background: var(--bg-1);
	width: 100vw;

	i {
		font-size: 24px;
	}
}

#navbarMobile {
	position: fixed;
	bottom: 0;
	background: var(--bg-1);
	width: 100vw;
	padding: 0.5rem 1rem;
	overflow: hidden;
	-moz-box-shadow: 0px 0px 6px 4px rgb(17, 17, 17);
	-webkit-box-shadow: 0px 0px 6px 4pxrgb (17, 17, 17);
	box-shadow: 0px 0px 6px 4px rgb(17, 17, 17);

	i {
		font-size: 24px;
	}
}
